<!-- Produk Baru -->
<section class="new-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center flex-column">
                <div class="title d-flex flex-column text-center">
                    <h1>Produk Baru Launching</h1>
                    <span>Temukan Produk Barumu!</span>
                </div>
                <div class="container-product col-10 d-flex justify-content-center align-items-center">
                    <div class="card-small d-flex flex-column">
                        <img src="assets/images/content/new_product_1.png" alt="new product">
                        <button type="button" class="btn btn-primary">detail produk</button>
                    </div>
                    <div class="card-big d-flex flex-column">
                        <img src="assets/images/content/new_product_2.png" alt="new product">
                        <button type="button" class="btn btn-primary">detail produk</button>
                    </div>
                    <div class="card-small d-flex flex-column">
                        <img src="assets/images/content/new_product_3.png" alt="new product">
                        <button type="button" class="btn btn-primary">detail produk</button>
                    </div>
                </div>
                <nav aria-label="..." class="nav-product">
                    <ul class="pagination pagination-lg">
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="#"></a>
                        </li>
                        <li class="page-item">
                            <span class="page-link active"></span>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Produk Baru -->