@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Root Color */
:root {
    --Black: #000;
    --Background-Stroke: #232946;
    --Highlight-Secondary: #FFFFFE;
    --Paragraph-Main: #B8C1EC;
    --Button-tertiary: #EEBBC3;
    --ButtonText: #232946;
    --TextBox: #D4D8F0;
    --Underlined-Text: #0587BF;
    --Agree-Option-SkinTest: #2CB67D;
    --Netral-Option-SkinTest: #5F6C7B;
    --Disagree-Option-SkinTest: #A786DF;
    --Question-SkinTest-NotFocused: #9A9A9A;
    --Text-Non-Focused: #D9D9D9;
    --Highlight: #D6B55E;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html,
body {
    background-image: url(../images/background/main-bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    max-width: 100%;
}

/* Header */

.header{
    min-width: 80px;
    background-color: var(--Paragraph-Main);
}

.header .navbar {
    background-color: inherit;
}

.header .left-container .searchbar {
    background-color: var(--Highlight-Secondary);
    border-radius: 20px;
}

.header .left-container .searchbar form {
    background-color: inherit;
    border-radius: inherit;
}

.header .left-container .searchbar input {
    background-color: inherit;
    border-radius: inherit;
}

.header .left-container .searchbar input::placeholder{
    font-size: 12px;
}


.header ul {
    flex-direction: row;
}

.header ul li{
    background-color: inherit;
    border: none !important;
}

.header ul li a{
    text-decoration: none;
    color: var(--Background-Stroke);
}

.header .right-container .btn {
    background-color: inherit;
    border-color: var(--Background-Stroke);
    color: var(--Background-Stroke);
    font-size: 14px;
}