@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Root Color */
:root {
    --Black: #000;
    --Background-Stroke: #232946;
    --Highlight-Secondary: #FFFFFE;
    --Paragraph-Main: #B8C1EC;
    --Button-tertiary: #EEBBC3;
    --ButtonText: #232946;
    --TextBox: #D4D8F0;
    --Underlined-Text: #0587BF;
    --Agree-Option-SkinTest: #2CB67D;
    --Netral-Option-SkinTest: #5F6C7B;
    --Disagree-Option-SkinTest: #A786DF;
    --Question-SkinTest-NotFocused: #9A9A9A;
    --Text-Non-Focused: #D9D9D9;
    --Highlight: #D6B55E;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html,
body {
    background-color: var(--Highlight-Secondary);
    width: 100%;
}

/* Header */

header.header{
    height: 80px;
    background-color: var(--Paragraph-Main);
    margin-bottom: 150px;
}

.header .navbar {
    background-color: inherit;
    min-height: inherit;
}

.header .left-container .searchbar {
    background-color: var(--Paragraph-Main);
    border-radius: 20px;
}

.header .left-container .searchbar form {
    background-color: var(--Highlight-Secondary);
    border-radius: inherit;
}

.header .left-container .searchbar input {
    background-color: inherit;
    border: none;
    border-radius: inherit;
}

.header .left-container .searchbar form input:focus {
    box-shadow: none;
}

.header .left-container .searchbar input::placeholder{
    font-size: 12px;
}

.header .left-container .searchbar .overlay {
    max-width: 480px;
    background: linear-gradient(228deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: 0px 4px 30px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(22.5px);
    padding: 20px;
    color: var(--Highlight-Secondary);
    position: absolute;
    border-radius: 20px;
}

.hide {
    display: none;   
}

.header .left-container .searchbar 
.overlay .recommendation {
    display: flex;
    padding: 16px 0px;
    align-items: center;
}

.header .left-container .searchbar 
.overlay .recommendation span {
    font-size: 12px;
}

.header ul {
    flex-direction: row;
}

.header ul li{
    background-color: inherit;
    border: none !important;
}

.header ul li a{
    text-decoration: none;
    color: var(--Background-Stroke);
}

.header ul li a::after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: transparent;
    transition: all 0.3s;
}

.header ul li a:hover::after {
    width: 100%;
    background-color: var(--Background-Stroke);
}

.header .right-container .btn {
    background-color: inherit;
    border-color: var(--Background-Stroke);
    color: var(--Background-Stroke);
    font-size: 14px;
}

.header .right-container .btn:hover {
    background-color: var(--Background-Stroke);
    border: var(--Background-Stroke);
    color: var(--Highlight-Secondary);
}


/* Main Content*/

section.main-content {
    background-image: url(../images/background/Body-Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 450px;
    margin-top: 60px;
}

.main-content .text-content h1 {
    color: var(--Highlight-Secondary);
    font-size: 64px;
    font-weight: 800;
}

.main-content .text-content span {
    color: var(--Highlight-Secondary);
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

.main-content .text-content .btn-test {
    margin: 20px 0px;
}

.main-content .text-content .btn-test .btn{
    padding: 12px 24px;
    border-radius: 25px;
    border-color:unset;
    background: radial-gradient(90.78% 123.38% at 6.01% 8.93%, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.35) 0.01%, rgba(255, 255, 255, 0.28) 100%);
    backdrop-filter: blur(15px);
}

.main-content .background-anim {
    width: 480px;
    height: 480px;
    flex-shrink: 0;
    border-radius: 240px;
    background: linear-gradient(228deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 100%);
    box-shadow: 0px 4px 30px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(22.5px);
    margin-right: 100px;
}

.main-content .background-anim img {
    width: 794px;
    height: 500px;
    flex-shrink: 0;
}

/* New Product */

section.new-product {
    margin-top: -70px;
    margin-bottom: 150px;
}

.new-product .title {
    padding-bottom: 100px;
}

.new-product .title h1 {
    color: var(--Background-Stroke);
    font-size: 48px;
    font-weight: 800;
}

.new-product .title span {
    color: var(--Background-Stroke);
    font-size: 30px;
    font-weight: 400;
}

.new-product .container-product {
    margin-bottom: 48px;
}

.new-product .container-product .card-big{
    background-color: var(--Background-Stroke);
    padding: 40px;
    border-radius: 20px;
    margin: 0 50px 0 50px;
}

.new-product .container-product .card-big img {
    margin-bottom: 35px;
}

.new-product .container-product .card-big button {
    background-color: var(--Button-tertiary);
    color: var(--Background-Stroke);
    border-radius: 25px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.new-product .container-product .card-small{
    background-color: var(--Background-Stroke);
    padding: 34px;
    border-radius: 20px;
    margin: 0 50px 0 50px;
    height: fit-content;
}

.new-product .container-product .card-small img {
    margin-bottom: 35px;
}

.new-product .container-product .card-small button {
    background-color: var(--Button-tertiary);
    color: var(--Background-Stroke);
    border-radius: 25px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.new-product .nav-product ul li {
    margin: 0 10px;
}

.new-product .nav-product ul li a,
.new-product .nav-product ul li span{
    border-radius: 100% !important;
    padding: 7px !important;
    background-color: var(--Question-SkinTest-NotFocused);
}

.new-product .nav-product ul li span.active {
    background-color: var(--Background-Stroke);
}

/* Top Brand */
section.top-brand {
    margin-bottom: 150px;
}

.top-brand .title {
    padding-bottom: 100px;
}

.top-brand .title h1 {
    color: var(--Background-Stroke);
    font-size: 48px;
    font-weight: 800;
}

.top-brand .title span {
    color: var(--Background-Stroke);
    font-size: 30px;
    font-weight: 400;
}

/* Profil */

section.profil {
    background-color: var(--Background-Stroke);
    max-height: 900px;
    padding-top: 100px;
    padding-bottom: 450px;
    margin-top: 60px;
}

.profil .content {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: linear-gradient(153deg, rgba(255, 255, 255, 0.40) 8.78%, rgba(255, 255, 255, 0.25) 75.2%);
    box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    padding-right: 0px;
}

.profil .detail {
    padding: 50px;
}

.profil .detail .item {
    padding-bottom: 18px;
}

.profil .detail span {
    color: var(--Highlight-Secondary);
}

.profil .detail .container-btn .btn-primary {
    background-color: var(--Background-Stroke);
    border-color: var(--Background-Stroke);
}

.profil .image {
    background-color: var(--Highlight-Secondary);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* My-Favorite */

section.my-fav {
    margin-top: -150px;
}

.my-fav .container-fav {
    border-radius: 20px;
    background: linear-gradient(183deg, rgba(0, 0, 0, 0.10) 2.72%, rgba(255, 255, 255, 0.25) 100%);
    box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    padding: 90px 60px;
}

.my-fav .container-fav .title,
.my-fav .container-items .colomn-1,
.my-fav .container-items .colomn-2 {
    margin-bottom: 95px;
}

.my-fav .container-fav .title h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--Highlight-Secondary);
}

.my-fav .container-items .item {
    position: relative;
    display: inline-block;
    background-color: var(--Highlight-Secondary);
    border-radius: 10%;
}

.my-fav .container-items .nama-item {
    position: absolute;
    left: 5%;
    top: 10px;
    color: var(--Background-Stroke);
}

.my-fav .container-items .nama-item h4 {
    font-size: 16px;
    font-weight: 700;
}

.my-fav .container-items .nama-item h6 {
    font-size: 14px;
    font-weight: 400;
}

.my-fav .container-items button {
    border: 0;
    width: 200px;
    padding: 3px 10px;
    color: var(--Background-Stroke);
    background-color: var(--Button-tertiary);
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    bottom: 10px; /* Atur jarak dari bawah gambar */
    left: 50%; /* Atur agar tombol berada di tengah gambar */
    transform: translateX(-50%); /* Geser tombol ke kiri sejauh setengah lebar tombol */
}

.my-fav .container-items span {
    position: absolute;
    bottom: 210px;
    left: 93%;
    transform: translateX(-50%);
} 

/* Footer */

footer {
    background-color: var(--Background-Stroke);
    padding: 40px;
}

footer .detail,
footer .navigasi,
footer .temukan,
footer .tentang {
    display: flex;
    flex-direction: column;
    color: var(--Highlight-Secondary);
}

footer .navigasi h2,
footer .temukan h2,
footer .tentang h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    border-bottom: 1px solid var(--Question-SkinTest-NotFocused);
    padding-bottom: 8px;
    margin-bottom: 16px;
}

footer .navigasi ul li,
footer .temukan ul li,
footer .tentang ul li {
    list-style: none;
}

footer .navigasi ul li a,
footer .temukan ul li a,
footer .tentang ul li a {
    text-decoration: none;
    color: var(--Highlight-Secondary);
}

footer .tentang ul {
    display: flex;
    justify-content: center;
}

footer .tentang ul li {
    padding: 0 18px;
}

.copyright {
    background-color: var(--Paragraph-Main);
    color: var(--Background-Stroke);
    text-align: center;
    padding: 16px 0px;
}